/* .ant-layout {
  background-color: white;
}

.ant-table-content .ant-table-thead >tr>th,
.ant-table-content .ant-table-thead >tr>td  {
  border-bottom: 0;
  color: #a1a1a1;
}

td.ant-table-cell {
  color: #181C32;
  font-weight: 600;
  font-size: 14px;
} 

.ant-breadcrumb span.ant-breadcrumb-link a{
  color: white;
  font-size: 14px;
  font-weight: 600;
}

ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
  border-inline-end: none;
}

.ant-menu .ant-menu-item-selected {
  background-color: white !important;
  color: #68417f !important;
}

aside.ant-layout-sider.ant-layout-sider-light {
  background: #68417f;
  padding: 30px 15px;
  flex: 0 0 250px;
  max-width: 250px;
  min-width: 250px;
  width: 250px;
}

.ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: transparent;
  color: #f2cfda !important;
}

td.ant-table-cell {
  color: #7e8299;
  font-weight: normal;
}

.ant-menu li.ant-menu-item {
  border-radius: 20px;
}

.ant-table-wrapper ul.ant-pagination.ant-table-pagination {
  margin-top: 40px;
}

.ant-menu-submenu-title {
  height: 40px;
  line-height: 40px;
  padding-inline: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-inline: 0;
  margin-block: 0;
  width: auto;
}

.ant-notification-notice.success {
  background-color: #e8fff3;
}

.ant-notification-notice.success .ant-notification-notice-message {
  color: #47be7d
}

.ant-notification-notice.success .ant-notification-notice-close {
  color: #47be7d
}

.ant-notification-notice.error {
  background-color: #fff5f8;
}

.ant-notification-notice.error .ant-notification-notice-message {
  color: #d9214e
}

.ant-notification-notice.error .ant-notification-notice-close {
  color: #d9214e
} */

.ant-menu-item.ant-menu-item-selected   {
  background-color: #5C59E8 !important;
}

.ant-menu-item.ant-menu-item-selected   {
  color: white !important;
}


.ant-select-selector {
    width: 100%;
    height: 40px !important;
    padding: 4px 11px !important;
    /* padding: 5px; */
}