.ant-menu-item.ant-menu-item-selected {
  background-color: #5C59E8 !important;
}

.ant-menu-item.ant-menu-item-selected span,
.ant-menu-item.ant-menu-item-selected svg {
  color: white !important;
}

.ant-select-selector {
  width: 100%;
  height: 40px !important;
  padding: 4px 11px !important;
  /* padding: 5px; */
}

#supply-chain .bi.bi-diagram {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 100%;
  border: 0.07rem solid #dae1e7;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  background: url("/images/bg-chain.png");
  position: relative;
  overflow: hidden;
}

.ant-card.ant-card-rtl  {
  box-shadow: none;
}

.ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #5C59E8;
}

.sidebar {
  background-color: white !important;
}

.sidebar .ant-menu {
  background-color: white;
}

.sidebar .ant-menu-item span {
  color: #667085;
}

.sidebar .ant-menu-item-icon svg {
  color:  #667085;
}

.ant-breadcrumb-link a, .ant-breadcrumb-separator {
  color: white !important;
}

.ant-collapse-item.ant-collapse-item-active {
  background-color: #fcf3cc !important;
}

.ant-card-body .bi.bi-diagram {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.25rem;
  box-shadow: none;
  min-height: 100%;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.ant-popover-content {
  min-width: 200px;
}

.ant-pagination li.ant-pagination-item.ant-pagination-item-active {
  background-color: #5C59E8;
  color: white;
}

.ant-pagination li.ant-pagination-item.ant-pagination-item-active a {
  color: white;
}

button.ant-pagination-item-link span svg {
  color: #5C59E8;
  font-weight: bold;
}